system {
    replace:
{% for item in tacacs_servers %}
    tacplus-server {
        {{ item.address }} {
            secret "{{ item.secret }}";
            single-connection;
            source-address {{ mgmt_address }};
        }
    }
{% endfor %}
}
